<div class="container">
    <div class="text">
        <div class="icon">
            <i class="pi pi-question-circle" style="color: #0771DE; font-size: 2rem"></i>
        </div>
        <div class="insider-text">
            <p>إحتمالية نجاح الصفقة</p>
        </div>
        <div>
            <span class="pi pi-file-edit" style="color: #CCCFD8; font-size: 2rem"></span>
        </div>
        
    </div>
    <!-- start progress bar -->
    <div class="progress-container">
        <div class="progress-bar"></div> 
    </div>
    <div class="percentage">
        <span>%0</span>
        <span>%10</span>
        <span>%20</span>
        <span>%30</span>
        <span>%40</span>
        <span>%50</span>
        <span>%60</span>
        <span>%70</span>
        <span>%80</span>
        <span>%90</span>
        <span>%100</span>
    </div>
</div>